In [264]:
import numpy as np
import pandas as pd

In [265]:
#df.head() / df.tail()

In [266]:
#df.shape() -> (행, 열)

In [267]:
url = 'https://raw.githubusercontent.com/logistex/jBook/main/cycling_data.csv'
df = pd.read_csv(url)
df

,Date,Name,Type,Time,Distance,Comments
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week
5,"16 Sep 2019, 13:57:48",Morning Ride,Ride,2272,12.45,Rested after the weekend!
6,"17 Sep 2019, 00:15:47",Afternoon Ride,Ride,1973,12.45,Legs feeling strong!
7,"17 Sep 2019, 13:43:34",Morning Ride,Ride,2285,12.60,Raining
8,"18 Sep 2019, 13:49:53",Morning Ride,Ride,2903,14.57,Raining today
9,"18 Sep 2019, 00:15:52",Afternoon Ride,Ride,2101,12.48,Pumped up tires
10,"19 Sep 2019, 00:30:01",Afternoon Ride,Ride,48062,12.48,Feeling good
11,"19 Sep 2019, 13:52:09",Morning Ride,Ride,2090,12.59,Getting colder which is nice
12,"20 Sep 2019, 01:02:05",Afternoon Ride,Ride,2961,12.81,Feeling good
13,"23 Sep 2019, 13:50:41",Morning Ride,Ride,2462,12.68,Rested after the weekend!
14,"24 Sep 2019, 00:35:42",Afternoon Ride,Ride,2076,12.47,"Oiled chain, bike feels smooth"
15,"24 Sep 2019, 13:41:24",Morning Ride,Ride,2321,12.68,Bike feeling much smoother
16,"25 Sep 2019, 00:07:21",Afternoon Ride,Ride,1775,12.10,Feeling really tired
17,"25 Sep 2019, 13:35:41",Morning Ride,Ride,2124,12.65,Stopped for photo of sunrise
18,"26 Sep 2019, 00:13:33",Afternoon Ride,Ride,1860,12.52,raining
19,"26 Sep 2019, 13:42:43",Morning Ride,Ride,2350,12.91,Detour around trucks at Jericho
20,"27 Sep 2019, 01:00:18",Afternoon Ride,Ride,1712,12.47,Tired by the end of the week
21,"30 Sep 2019, 13:53:52",Morning Ride,Ride,2118,12.71,Rested after the weekend!
22,"1 Oct 2019, 00:15:07",Afternoon Ride,Ride,1732,NaN,Legs feeling strong!
23,"1 Oct 2019, 13:45:55",Morning Ride,Ride,2222,12.82,Beautiful morning! Feeling fit
24,"2 Oct 2019, 00:13:09",Afternoon Ride,Ride,1756,NaN,A little tired today but good weather
25,"2 Oct 2019, 13:46:06",Morning Ride,Ride,2134,13.06,Bit tired today but good weather
26,"3 Oct 2019, 00:45:22",Afternoon Ride,Ride,1724,12.52,Feeling good
27,"3 Oct 2019, 13:47:36",Morning Ride,Ride,2182,12.68,Wet road
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [268]:
df.describe()

               Time   Distance
count     33.000000  31.000000
mean    3512.787879  12.667419
std     8003.309233   0.428618
min     1712.000000  11.790000
25%     1863.000000  12.480000
50%     2118.000000  12.620000
75%     2285.000000  12.750000
max    48062.000000  14.570000

In [269]:
df.describe(include='all')

,Date,Name,Type,Time,Distance,Comments
count,33,33,33,33.000000,31.000000,33
unique,33,2,1,NaN,NaN,25
top,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,NaN,NaN,Stopped for photo of sunrise
freq,1,17,33,NaN,NaN,3
mean,NaN,NaN,NaN,3512.787879,12.667419,NaN
std,NaN,NaN,NaN,8003.309233,0.428618,NaN
min,NaN,NaN,NaN,1712.000000,11.790000,NaN
25%,NaN,NaN,NaN,1863.000000,12.480000,NaN
50%,NaN,NaN,NaN,2118.000000,12.620000,NaN
75%,NaN,NaN,NaN,2285.000000,12.750000,NaN
max,NaN,NaN,NaN,48062.000000,14.570000,NaN

In [270]:
df.head()

,Date,Name,Type,Time,Distance,Comments
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [271]:
df.rename(columns={'Date':'DateTime'})
df.head()

,Date,Name,Type,Time,Distance,Comments
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [272]:
df.rename(columns={'Date':'DateTime'},inplace=True)
df.head()

,DateTime,Name,Type,Time,Distance,Comments
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [273]:
df= df.rename(columns={'Comments':'Notes'})
df.tail()

,DateTime,Name,Type,Time,Distance,Notes
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [274]:
df=df.reset_index()
df.head()

,index,DateTime,Name,Type,Time,Distance,Notes
0,0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [275]:
df = df.set_index("DateTime")
df.head()

,index,Name,Type,Time,Distance,Notes
DateTime,,,,,,
"10 Sep 2019, 00:13:04",0,Afternoon Ride,Ride,2084,12.62,Rain
"10 Sep 2019, 13:52:18",1,Morning Ride,Ride,2531,13.03,rain
"11 Sep 2019, 00:23:50",2,Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
"11 Sep 2019, 14:06:19",3,Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
"12 Sep 2019, 00:28:05",4,Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [276]:
df.index.name='DT'
df.head()

,index,Name,Type,Time,Distance,Notes
DT,,,,,,
"10 Sep 2019, 00:13:04",0,Afternoon Ride,Ride,2084,12.62,Rain
"10 Sep 2019, 13:52:18",1,Morning Ride,Ride,2531,13.03,rain
"11 Sep 2019, 00:23:50",2,Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
"11 Sep 2019, 14:06:19",3,Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
"12 Sep 2019, 00:28:05",4,Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [277]:
df=df.reset_index()
df.head()

,DT,index,Name,Type,Time,Distance,Notes
0,"10 Sep 2019, 00:13:04",0,Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",1,Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",2,Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",3,Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",4,Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [278]:
df.index

RangeIndex(start=0, stop=33, step=1)

In [279]:
url = 'https://raw.githubusercontent.com/logistex/jBook/main/cycling_data.csv'
df = pd.read_csv(url)
df

,Date,Name,Type,Time,Distance,Comments
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week
5,"16 Sep 2019, 13:57:48",Morning Ride,Ride,2272,12.45,Rested after the weekend!
6,"17 Sep 2019, 00:15:47",Afternoon Ride,Ride,1973,12.45,Legs feeling strong!
7,"17 Sep 2019, 13:43:34",Morning Ride,Ride,2285,12.60,Raining
8,"18 Sep 2019, 13:49:53",Morning Ride,Ride,2903,14.57,Raining today
9,"18 Sep 2019, 00:15:52",Afternoon Ride,Ride,2101,12.48,Pumped up tires
10,"19 Sep 2019, 00:30:01",Afternoon Ride,Ride,48062,12.48,Feeling good
11,"19 Sep 2019, 13:52:09",Morning Ride,Ride,2090,12.59,Getting colder which is nice
12,"20 Sep 2019, 01:02:05",Afternoon Ride,Ride,2961,12.81,Feeling good
13,"23 Sep 2019, 13:50:41",Morning Ride,Ride,2462,12.68,Rested after the weekend!
14,"24 Sep 2019, 00:35:42",Afternoon Ride,Ride,2076,12.47,"Oiled chain, bike feels smooth"
15,"24 Sep 2019, 13:41:24",Morning Ride,Ride,2321,12.68,Bike feeling much smoother
16,"25 Sep 2019, 00:07:21",Afternoon Ride,Ride,1775,12.10,Feeling really tired
17,"25 Sep 2019, 13:35:41",Morning Ride,Ride,2124,12.65,Stopped for photo of sunrise
18,"26 Sep 2019, 00:13:33",Afternoon Ride,Ride,1860,12.52,raining
19,"26 Sep 2019, 13:42:43",Morning Ride,Ride,2350,12.91,Detour around trucks at Jericho
20,"27 Sep 2019, 01:00:18",Afternoon Ride,Ride,1712,12.47,Tired by the end of the week
21,"30 Sep 2019, 13:53:52",Morning Ride,Ride,2118,12.71,Rested after the weekend!
22,"1 Oct 2019, 00:15:07",Afternoon Ride,Ride,1732,NaN,Legs feeling strong!
23,"1 Oct 2019, 13:45:55",Morning Ride,Ride,2222,12.82,Beautiful morning! Feeling fit
24,"2 Oct 2019, 00:13:09",Afternoon Ride,Ride,1756,NaN,A little tired today but good weather
25,"2 Oct 2019, 13:46:06",Morning Ride,Ride,2134,13.06,Bit tired today but good weather
26,"3 Oct 2019, 00:45:22",Afternoon Ride,Ride,1724,12.52,Feeling good
27,"3 Oct 2019, 13:47:36",Morning Ride,Ride,2182,12.68,Wet road
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [280]:
df= df.rename(columns={'Comments':'Notes'})
df.tail()

,Date,Name,Type,Time,Distance,Notes
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [281]:
df.index.name='DT'
df.head()

,Date,Name,Type,Time,Distance,Notes
DT,,,,,,
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week

In [282]:
df['Rider']='신교수'
df.head()

,Date,Name,Type,Time,Distance,Notes,Rider
DT,,,,,,,
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain,신교수
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain,신교수
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather,신교수
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise,신교수
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week,신교수

In [283]:
df['speed']=df['Distance']/df.Time*1000
df.head()

,Date,Name,Type,Time,Distance,Notes,Rider,speed
DT,,,,,,,,
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain,신교수,6.055662
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain,신교수,5.148163
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather,신교수,6.720344
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise,신교수,5.857664
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week,신교수,6.599683

In [284]:
df=df.drop(columns=['Rider','speed'])
df

,Date,Name,Type,Time,Distance,Notes
DT,,,,,,
0,"10 Sep 2019, 00:13:04",Afternoon Ride,Ride,2084,12.62,Rain
1,"10 Sep 2019, 13:52:18",Morning Ride,Ride,2531,13.03,rain
2,"11 Sep 2019, 00:23:50",Afternoon Ride,Ride,1863,12.52,Wet road but nice weather
3,"11 Sep 2019, 14:06:19",Morning Ride,Ride,2192,12.84,Stopped for photo of sunrise
4,"12 Sep 2019, 00:28:05",Afternoon Ride,Ride,1891,12.48,Tired by the end of the week
5,"16 Sep 2019, 13:57:48",Morning Ride,Ride,2272,12.45,Rested after the weekend!
6,"17 Sep 2019, 00:15:47",Afternoon Ride,Ride,1973,12.45,Legs feeling strong!
7,"17 Sep 2019, 13:43:34",Morning Ride,Ride,2285,12.60,Raining
8,"18 Sep 2019, 13:49:53",Morning Ride,Ride,2903,14.57,Raining today
9,"18 Sep 2019, 00:15:52",Afternoon Ride,Ride,2101,12.48,Pumped up tires
10,"19 Sep 2019, 00:30:01",Afternoon Ride,Ride,48062,12.48,Feeling good
11,"19 Sep 2019, 13:52:09",Morning Ride,Ride,2090,12.59,Getting colder which is nice
12,"20 Sep 2019, 01:02:05",Afternoon Ride,Ride,2961,12.81,Feeling good
13,"23 Sep 2019, 13:50:41",Morning Ride,Ride,2462,12.68,Rested after the weekend!
14,"24 Sep 2019, 00:35:42",Afternoon Ride,Ride,2076,12.47,"Oiled chain, bike feels smooth"
15,"24 Sep 2019, 13:41:24",Morning Ride,Ride,2321,12.68,Bike feeling much smoother
16,"25 Sep 2019, 00:07:21",Afternoon Ride,Ride,1775,12.10,Feeling really tired
17,"25 Sep 2019, 13:35:41",Morning Ride,Ride,2124,12.65,Stopped for photo of sunrise
18,"26 Sep 2019, 00:13:33",Afternoon Ride,Ride,1860,12.52,raining
19,"26 Sep 2019, 13:42:43",Morning Ride,Ride,2350,12.91,Detour around trucks at Jericho
20,"27 Sep 2019, 01:00:18",Afternoon Ride,Ride,1712,12.47,Tired by the end of the week
21,"30 Sep 2019, 13:53:52",Morning Ride,Ride,2118,12.71,Rested after the weekend!
22,"1 Oct 2019, 00:15:07",Afternoon Ride,Ride,1732,NaN,Legs feeling strong!
23,"1 Oct 2019, 13:45:55",Morning Ride,Ride,2222,12.82,Beautiful morning! Feeling fit
24,"2 Oct 2019, 00:13:09",Afternoon Ride,Ride,1756,NaN,A little tired today but good weather
25,"2 Oct 2019, 13:46:06",Morning Ride,Ride,2134,13.06,Bit tired today but good weather
26,"3 Oct 2019, 00:45:22",Afternoon Ride,Ride,1724,12.52,Feeling good
27,"3 Oct 2019, 13:47:36",Morning Ride,Ride,2182,12.68,Wet road
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [285]:
 df2=pd.DataFrame(
     data=[["12 Oct 2019, 00:10:57", "Morning Ride", "Ride",
                        2331, 12.67, "Washed and oiled bike last night"]],
                     columns = df.columns,
                     index = [33])

In [286]:
df.tail()

,Date,Name,Type,Time,Distance,Notes
DT,,,,,,
28,"4 Oct 2019, 01:08:08",Afternoon Ride,Ride,1870,12.63,"Very tired, riding into the wind"
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"

In [287]:
df2

,Date,Name,Type,Time,Distance,Notes
33,"12 Oct 2019, 00:10:57",Morning Ride,Ride,2331,12.67,Washed and oiled bike last night

In [289]:
df=df.append(df2)
df.tail()

,Date,Name,Type,Time,Distance,Notes
29,"9 Oct 2019, 13:55:40",Morning Ride,Ride,2149,12.70,Really cold! But feeling good
30,"10 Oct 2019, 00:10:31",Afternoon Ride,Ride,1841,12.59,Feeling good after a holiday break!
31,"10 Oct 2019, 13:47:14",Morning Ride,Ride,2463,12.79,Stopped for photo of sunrise
32,"11 Oct 2019, 00:16:57",Afternoon Ride,Ride,1843,11.79,"Bike feeling tight, needs an oil and pump"
33,"12 Oct 2019, 00:10:57",Morning Ride,Ride,2331,12.67,Washed and oiled bike last night

In [ ]:
#열추가 : df['new_col']=new_col_value_lise
#열삭제 : df=df.drop(columns=['col1','col2'])
#행추가 : df=df.append(new_df, columns=df.columns, index=new_index_list)
#행삭제 : df=df.drop(index=[index1, index2])

In [296]:
df_wide=pd.DataFrame(data=
                    {'player':['Park','Kim','Lee','Choi'],
                    '2019':[4,5,6,6],
                    '2020':[5,6,6,7],
                    '2021':[6,6,8,9]})
df_wide

  player  2019  2020  2021
0   Park     4     5     6
1    Kim     5     6     6
2    Lee     6     6     8
3   Choi     6     7     9

In [297]:
df_long=df_wide.melt(
    id_vars='player',
    var_name='year',
    value_name='point')
df_long

   player  year  point
0    Park  2019      4
1     Kim  2019      5
2     Lee  2019      6
3    Choi  2019      6
4    Park  2020      5
5     Kim  2020      6
6     Lee  2020      6
7    Choi  2020      7
8    Park  2021      6
9     Kim  2021      6
10    Lee  2021      8
11   Choi  2021      9